mixin topic-card(type, topic, image)
    .main__card
        .main__card-img
            img.main__card-picture(src=image, alt="Изображения")
        .main__card-type= type 
        .main__card-topic= topic
        .main__card-user
            span.main__card-author Niek Bove
            span.main__card-date April 8, 2018
            span.main__card-views 3K Views
        .main__card-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim placeat quam animi tempore eum incidunt.

main    
    .main   
        +topic-card('Новость', 'Внедрение новых технологий в образование', '../media/png/1.png')
        +topic-card('Статья', 'Эффективные стратегии управления временем', '../media/png/2.png')
        +topic-card('Обзор', 'Лучшие приложения для изучения иностранных языков', '../media/png/3.png')
        +topic-card('Интервью', 'Беседа с известным писателем', '../media/png/4.png')
        +topic-card('Гайд', 'Как создать успешную маркетинговую кампанию', '../media/png/5.png')
        +topic-card('Кейс', 'Увеличение продаж на 30% с помощью SEO', '../media/png/6.png')
        +topic-card('Рецепт', 'Простой рецепт домашней пиццы', '../media/png/7.png')
        +topic-card('Совет', 'Как улучшить качество сна', '../media/png/8.png')
        +topic-card('История', 'Вдохновляющая история успеха', '../media/png/9.png')
